 {%- extends "base.html" %}

 {% import "bootstrap/utils.html" as utils %}
 
 
 {% block content %}
   <div class="container">
<!-- 
        <img src="{{url_for('static', filename='imagens/char1.gif')}}">
        <img src="{{url_for('static', filename='imagens/char2.gif')}}">
        <img src="{{url_for('static', filename='imagens/char3.gif')}}"> -->

        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}
        <div class="row">
            <div class="col-sm-10">
                {%- if tamagotchi %}
                    <h3>Tamagotchi name: {{tamagotchi.name}}</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="text-center"><strong>Vida</strong></h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{tamagotchi.health}}%">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="text-center"><strong>Felicidade</strong></h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{tamagotchi.happy}}%;">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="text-center"><strong>Fome</strong></h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{tamagotchi.hunger}}%;">
                                </div>
                            </div>
                        </div>
                    </div>
                {%- endif %}
            </div>
            <div class="col-sm-2">
                <ul class="list-group text-center">
                {% for tama in tamagotchis %}
                    <a href="/tamagotchi/{{tama.id}}" class="list-group-item">{{ tama.name }}</a>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
 {%- endblock %}
 