{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

<!-- href="/tamagotchi/{{tama.id}}" -->

{% block content %}
    <div class="col-sm-2">
        <ul class="list-group text-center">
        {% for tama in tamagotchis %}
            <li  class="list-group-item">{{ tama.name }}</li>
            <img src="{{url_for('static', filename='pokemons/'+tama.name_pokemon+'1.gif')}}"  style=" width:30px; margin-rigth:0px" >
        {% endfor %}
        </ul>
    </div>
{%- endblock %}