{%- extends "base_nologin.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block content %}
  <div class="container">
       {%- with messages = get_flashed_messages(with_categories=True) %}
           {%- if messages %}
               <div class="row">
                   <div class="col-md-12">
                       {{utils.flashed_messages(messages)}}
                   </div>
               </div>
           {%- endif %}
       {%- endwith %}
       <form action="/novotamagotchi" method="post">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" aria-describedby="loginHelp" placeholder="Digite o nome do Tamagotchi">
                
              <!-- Opcoes de Tamagotchi -->
                <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="poke" id="sqr" value="sqr"> 
                    <img src="{{url_for('static', filename='pokemons/sqr1.gif')}}">
                </label>
                <label class="radio-inline">
                    <input type="radio" name="poke" id="bul" value="bul"> 
                    <img src="{{url_for('static', filename='pokemons/bul1.gif')}}">
                </label>
                <label class="radio-inline">
                    <input type="radio" name="poke" id="char" value="char"> 
                    <img src="{{url_for('static', filename='pokemons/char1.gif')}}">
                </label>
                </div>
            </div>
            <button type="submit" onclick="location.href='/'" class="btn btn-primary">Cadastrar</button>
            
        </form>

   </div>
{%- endblock %}