{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block content %}
  <div class="container">
       {%- with messages = get_flashed_messages(with_categories=True) %}
           {%- if messages %}
               <div class="row">
                   <div class="col-md-12">
                       {{utils.flashed_messages(messages)}}
                   </div>
               </div>
           {%- endif %}
       {%- endwith %}
       <form action="/cadastrar/novo" method="post">
            <div class="form-group">
              <label for="username">Nome</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="loginHelp" placeholder="Digite seu nome de usuario">
            </div>
        </form>
   </div>
{%- endblock %}