{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div class="container">

            <div class="row col-sm-5">
                <h1>DateTime local</h1>

                <ul id="notifications">
                    <li>{{ datetime }}</li>
                </ul>

            </div>

        </div>
    </body>
</html>